

form>p{
    font-size: 18px;
color: brown;
}

#fir{
    font-size: 50px;
text-decoration-line: underline;
}

form>input{
    width: 30%;
    height: 40px;
    font-size: 20px;
}
#fbox{
    display: flex;
    gap: 20px;
}
form>h1{
width: 50%;
}
