body>div{
    width: 70%; 
    height: 500px;
    margin:auto ;
 }
 #allpic>img{
     width: 90%;
 }
 #allpic>p{
     width: 90%;
     font-size: 24px;
 }
 #allpic>h1{
     font-size: 26px;
 }
#allpic{
   width: 70%; 
   height: 500px;
   margin:auto ;
#allpic{
  width: 70%;
 margin:auto ;
}
 #allpic>p{
width: 90%;
font-size: 24px;
 }
 #allpic>h1{
  font-size: 26px;
   }
   #allpic>img{
    width: 90%;
 }
 
 #towbox{
    display: flex;
    width: 95%;
    background-color: rgb(245, 251, 251);
    border: 0px solid rgb(183, 168, 168);
    gap: 20px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 2%;
}
.boxs{
  display: flex;
  justify-content: center;
    width: 68%; 
    height: 300px;
    border: 0px solid rgb(226, 220, 203);
    gap: 72px;
    
}
#alltag{
display: grid;
font-size: 20px;
}
#allpic>h1{
    font-size: 26px;
}


.boxf{
    justify-content: flex-start;
    align-items: flex-start;
      width: 30%; 
      height: 300px;
      border: 0px solid rgb(226, 220, 203);
      margin-top: 2%;
      font-size: 12px;
  }
  .tri{
    font-size: 35px;
    background-color: rgb(245, 251, 251);
    border: 0px;
    width: 40%;
    height: 50px;
  }
  #allsym{
       margin-left: 5%;
    
  }
  #allsym>a>img{
    width: 5%;
    
  }
 #google>a>img{
      width: 30%;
    margin-top: 10px;
    margin-left: 5%;
 }
 .boxs{
    font-size: 150px;
 }

